$gridy-classname-prefix: "g";

$gridy-grid-gutter: 20px !default;

// breakpoint: (min-screen-width, max-screen-width, max-container-width),
$gridy-breakpoint-list: (
    xs: (100%, 319px, 100%),
    sm: (320px, 767px, 100%),
    md: (768px, 1023px, 100%),
    lg: (1024px, 1439px, 1024px),
    xl: (1440px, 100%, 1200px)
);
