.#{$gridy-classname-prefix}l-#{$gridy-block-abbr} {

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;

    //block layout direction, default is row
    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--row-reverse {

        flex-direction: row-reverse;
    }

    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--column {

        flex-direction: column;
    }

    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--column-reverse {

        flex-direction: column-reverse;
    }

    //alignment - Responsive for given size
    @include respond_to_breakpoint() {

        $size: $gridy-size;

        //block layout direction, default is row
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-row-reverse {

            flex-direction: row-reverse;
        }

        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-column {

            flex-direction: column;
        }

        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-column-reverse {

            flex-direction: column-reverse;
        }
    }

    //alignment - Responsive above given size
    @include respond_above() {

        $size: $gridy-size;

        //block layout direction, default is row
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-row-reverse {

            flex-direction: row-reverse;
        }

        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-column {

            flex-direction: column;
        }

        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-column-reverse {

            flex-direction: column-reverse;
        }
    }

    // Alignment - Static
    // left
    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--left {

        justify-content: flex-start;
    }

    // center
    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--center {

        justify-content: center;
    }

    // right
    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--right {

        justify-content: flex-end;
    }

    // top
    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--top {

        align-items: flex-start;
    }

    // middle
    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--middle {

        align-items: center;
    }

    // bottom
    &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--bottom {

        align-items: flex-end;
    }

    //alignment - Responsive
    @include respond_to_breakpoint() {

        $size: $gridy-size;

        // left
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-left {

            justify-content: flex-start;
        }

        // center
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-center {

            justify-content: center;
        }

        // right
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-right {

            justify-content: flex-end;
        }

        // top
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-top {

            align-items: flex-start;
        }

        // middle
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-middle {

            align-items: center;
        }

        // bottom
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--#{$size}-bottom {

            align-items: flex-end;
        }
    }

    //alignment - Responsive above given size
    @include respond_above() {

        $size: $gridy-size;

        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-left {

            justify-content: flex-start;
        }

        // center
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-center {

            justify-content: center;
        }

        // right
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-right {

            justify-content: flex-end;
        }

        // top
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-top {

            align-items: flex-start;
        }

        // middle
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-middle {

            align-items: center;
        }

        // bottom
        &.#{$gridy-classname-prefix}lm-#{$gridy-block-abbr}--above-#{$size}-bottom {

            align-items: flex-end;
        }
    }
}
