
body {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.demo-screen {

    padding: 20px;

    .demo-header--meta-content {

        font-size: 1.5em;
        font-weight: 100;
        line-height: 1;
        text-align: center;

        span {

            font-weight: 400;
        }
    }

    .l-container {

        width: 320px;
        position: relative;

        .demo-header {

            font-size: 5em;
            text-align: center;
            font-weight: 900;
            position: absolute;
            bottom: 10px;
            // right: 2px;
            left: 50%;
            transform: translateX(-50%);
            color: rgba(0, 0, 0, 0.65);
            // text-shadow: rgba(0, 0, 0, 0.5) 1px 0px 1px;

        }

        .l-container--block {

            height: 140px;
            border-radius: 2px;
            overflow: hidden;

            &.header,
            &.footer {

                height: 30px;
                font-size: 8px;
                color: #3b5998;

                [class^="l-col"],
                [class*=" l-col"] {

                    text-align: right;
                    padding: 0;
                }

                .l-col--cell {

                    margin-top: 5px;
                    margin-bottom: 0;
                }
            }

            &.header {

                font-size: 20px;
                color: #3d3d3d;
            }
        }

        .sm {

            // background-color: #8be;
            // background-color: #9cf;
            background-color: #dcdcdc;
        }

        .md {

            // background-color: #7b7;
            // background-color: #ada;
            background-color: #c6c6c6;
        }

        .lg {

            // background-color: #fe3;
            // background-color: #ffc;
            background-color: #b0b0b0;
        }

        .xl {

            // background-color: #d44;
            // background-color: #d66;
            background-color: #9a9a9a;
        }

    }
}

.gridy-demo {

    background-color: #f1f1f1;

    .l-container {

        // background-color: #e0e0e0;
        // background-color: #cce6ff;
        height: 100vh;
    }

    .l-container--block {

        // background-color: #ddd;
    }
    .l-row {

        // background-color: #ddd;
        // min-height: 100px;
    }

    .l-col--cell {

        // background-color: #9cf;
        // background-color: #7b7;
        // background-color: #004a91;
        background-color: #3b5998;
        padding: 1.4em;
        color: #fff;
    }

    .l-col,
    [class^="l-col-"],
    [class*=" l-col-"] {

        text-align: center;
        // padding: 20px;
    }
}
