.gridy {

    min-height: 100px;
}

.l-container {

    display: flex;
    box-sizing: border-box;
    margin: 0 auto;

    @include respond_to_breakpoint() {

        width: gridy_container_width($gridy-size);
    }

    &.l-container--fluid {

        width: 100%;
    }

    * {

        box-sizing: border-box;
    }

    &.l-row {

        // display: flex;
        flex-direction: row;
    }

    &.l-row-reverse {

        // display: flex;
        flex-direction: row-reverse;
    }

    &.l-column {

        // display: flex;
        flex-direction: column;
    }

    &.l-column-reverse {

        // display: flex;
        flex-direction: column-reverse;
    }

    .l-container--block {

        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        &.l-container--block-column {

            flex-direction: column;
        }

    }
}

.l-col--cell {

    margin-bottom: _gridy-gutter-fraction();
    margin-top: _gridy-gutter-fraction();
}

.l-col {

    flex-basis: 100%;
    flex: 1 0 auto;
    max-width: 100%;
    padding-left: _gridy-gutter-fraction();
    padding-right: _gridy-gutter-fraction();
}

@for $i from 1 through 12 {
    .l-col-#{$i} {

            @include gridy_cel($i);
    }
}

@include respond_to_breakpoint() {

    $size: $gridy-size;

    .l-col-#{$size} {

        flex-basis: 100%;
        flex: 1 0 auto;
        max-width: 100%;
        padding-left: _gridy-gutter-fraction();
        padding-right: _gridy-gutter-fraction();
    }

    @for $i from 1 through 12 {
        .l-col-#{$size}-#{$i} {

            @include gridy_cel($i);
        }
    }
}
